<!DOCTYPE html>
<html lang="en">
<head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <link href="stylesheets/style.css" rel="stylesheet">
  <script src="javascripts/script.js"></script>
  <title>Quotes & Budgets</title>
</head>
<body class="body">
  <%- include('./partials/nav') %>
  <div>
    <h1 class="">Welcome to the Quotes and Bugdets Website</h1>
    <p>To create a new quote or view your existing quotes please log in or register below.</p>
  </div>

  <div>
    <label for="login">Please login to view and create your quote</label><br>
    <a role="button" href="login" id="login" class="btn bodyBtn">Login/Register</a>
  </div>


  <script>
    
  </script>

</body>
</html>
