<!DOCTYPE html>
<html lang="en">
<head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <link href="stylesheets/style.css" rel="stylesheet">
  <script src="javascripts/script.js"></script>
  <title>Quotes & Budgets | Create Quote</title>
</head>
<body class="body">
  <%- include('./partials/nav') %>
  <div class="container formStyle">
    <div class="row">
      <h1>Quotes</h1>
      <p>To save a quote that has been generated and view saved quotes you must login or register an account before creating a quote.</p>
      <p>However you can still generate a quote without needing an account by following the below instructions.</p>
    </div>
    <div class="row">
      <label for="login">To create your own Quote please click the button below:</label><br>
      <a role="button" href="createQuote" id="createQuote" class="btn btn-md btn-primary">Create Quote</a>
    </div>
  </div>
    

  

</body>